/* Police: Raleway
Charte couleur: Bleu #0065FC, Bleu clair #DEEBFF, Gris #F2F2F2 
Break-points: Mobile < 768px, 768 <= Tablette < 1280px, 1280px <= Ordinateur */
/* for dev */
/*{
    outline: solid 1px red;
}
/* end for dev */

@font-face {
    font-family: 'Raleway';
    src: url('polices/Raleway-VariableFont_wght.ttf') format(truetype);
}

body{
    margin: 0px;
    font-family: 'Raleway', Arial, sans-serif;
}

a{
    text-decoration: none;
    color: #000;
}

h1, h2, h3, strong, b{
    font-weight: bold;
}

h2{
    font-size: 1.5rem;
}

h3{
    font-size: 1.2rem;
}

body>*:not(footer){
    width: 93%;
    margin:auto;
}

button{
    cursor: pointer;
}

.fa-star{
    color: #F2F2F2;
    font-size: 0.7rem;
}

.fa-star--blue{
    color: #0065FC;
}

.effect_transition{
    transition: 0.5s;
}

.effect_zoom:hover{
    transform: scale(1.02);
}

.card{
    background-color: #fff;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 0.9rem;
}

.card_img{
    object-fit: cover;
    object-position: 50% 50%;
    overflow: hidden;
}

.link_classic:hover{
    text-decoration: underline;
}

/* header */
header
{
    margin-bottom: 3vw;
    display: flex;
    text-align: center;
}

.header_title{
    display: none;
}

.header_logo{
    flex:1;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.header_logo__link, .header_logo__img{
    width: 96px;
}

.header_nav{
    display:flex;
}

.header_nav_box__button{
    width: 162px;
}

.header_button_subscrib{
    width: 100px;
    font-weight: bold;
    color: #0065FC;
}

.header_nav_box__button, .header_button_subscrib{
    height: 5.5vw;
    min-height: 45px;
    border-top: solid 2px transparent;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.header_nav_box__button span, .header_button_subscrib span{
    margin-bottom: 1.2vw;
}

.header_nav_box__button:hover, .header_button_subscrib:hover{
    color: #0065FC;
    border-top: solid 2px #0065FC;
}
/* fin header */

/* section .search */
.search_button{
    display: flex;
    line-height: 52px;
}

.search_button>*{
    font-size: 1.2rem;
    border: none;
}

.search_button__location{
    width: 52px;
    border-radius: 15px 0 0 15px;
    text-align: center;
    background-color: #F2F2F2;
}

.search_button__location a{
    display: block;
    border-radius: 15px 0 0 15px;
}

.search_button__button, .search_button__location:hover>a{
    background-color: #0065FC;
    color: #fff;
}

.search_button__input{
    width: 235px;
    border-top: solid 1px #F2F2F2;
    border-bottom: solid 1px #F2F2F2;
    border-radius: 0;
}

.search_button__button{
    width: 135px;
    border-radius: 0 15px 15px 0;
}

.search_button__button:hover{
    background-color: #F2F2F2;
    color: #000;
}

.search_filter__button{
    background-color: #fff;
    border: solid 3px #F2F2F2;
    border-radius: 25px;
    padding: 0 20px 0 0;
    margin-left: 25px;
    font-weight: bold;
    font-size: 1.1rem;
}

.search_filter{
    margin: 2.8vw auto;
}

.search_filter__button .fas{
    color: #0065FC;
    background-color: #DEEBFF;
    display: inline-block;
    line-height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: -3px 10px -3px -3px;
}

.search_filter__button:hover{
    background-color: #DEEBFF;
    border-color: #DEEBFF;
}

.search__info .fa-info{
    display: inline-block;
    width: 24px;
    line-height: 24px;
    text-align: center;
    color: #0065FC;
    border: solid 2px #F2F2F2;
    border-radius: 50%;
    font-size: 0.9rem;
}
/* fin section .search */

/* div .result */
.result{
    margin: 2.8vw auto;
    display: flex;
}

.lodging, .popular{
    background-color: #F2F2F2;
    border-radius: 20px;
}

.lodging{
    flex:1;
    margin-right: 2.8vw;
}

.lodging>*, .popular>*{
    margin: 2.8vw 2.8vw 0 2.8vw;
}

.lodging_boxcard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.lodging_card{
    width: 16vw;
    height: 13.1vw;
    margin:0 0 2vw 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.lodging_card *{
    margin: 0;
}

.lodging_card__img{
    height: 8vw;
    border-radius: 15px 15px 0 0;
}

.lodging_card__title{
font-size: 1rem;
}

.lodging_card>*:not(:first-child){
    margin-left: 0.8vw;
}

.lodging_more
{
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 1vw;
}

/*popular */
.popular_logo{
    float:right;
    font-size: 1.5rem;
    margin-bottom: -5px;
}

.popular_boxcard{
    clear: right;
    display: flex;
    flex-direction: column;
}

.popular_card{
    width: 23.9vw;
    height: 10vw;
    margin:auto;
    margin-bottom: 30px;
    display: flex;
}

.popular_card__img{
    width: 8.8vw;
    border-radius: 15px 0 0 15px;
}

.popular_card__text{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.8vw 0 0 0.8vw;
}

.popular_card__text>*{
    margin: 0;
}

.popular_card__title{
    font-size: 1rem;
    margin-bottom: 0.8vw;
}

.popular_card__price{
    flex: 1;
}
/*fin div .result */

/* Activité */
.activities_boxcard{
    height: 31vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-bottom: 4vw;
}

.activities_card{
    width: 21vw;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.activities_card--height01{
    height: 53%;
}

.activities_card--height02{
    height: 39%;
}

.activities_card--height03{
    height: 44%;
}

.activities_card--height04{
    height: 48%;
}

.activities_card__figure{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.activities_card__figure img{
    width:100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
}

.activities_card__figure figcaption{
    line-height:4vw;
    padding-left: 1.5vw;
    background-color: #fff;
    font-weight: bold;
    border-radius: 0 0 20px 20px;
}

/* Fin Activité */

/* footer */
footer{
    background-color: #F2F2F2;
    padding: 1vw 3.5vw;
    display: flex;
    justify-content: space-between;
}

.footer_card{
    width:30%;
}

.footer_card ul{
    list-style: none;
    padding: 0;
}

@media screen and (max-width:1279px){

    .search_filter__button{
        margin-bottom: 1.5vw;
    }
    
    .result{
        flex-direction: column-reverse;
    }

    .lodging, .popular{
        width: 100%;
    }
   
    .lodging{
        padding-bottom: 2vw;
    }

    .popular_boxcard{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .popular{
        margin-bottom: 3vw;
    }

    .popular_card{
        width: 27vw;
        height: 11.3vw;
        margin: 0 0 2.8vw 0;
    }

    .lodging_card{
        width: 27vw;
        height: 22vw;
        margin-bottom: 1.5vw;
    }

    .lodging_card__img{
        height:12.5vw;
    }   

    
}

@media screen and (max-width:768px){
    body>*:not(footer), .footer_card{
        width: 100%;
    }

    .header_logo{
        flex:0;
    }

    .header_nav_box__button{
        width: 100px; /*test */
    }

    .search_filter b{
        display: block;
    }

    .result>*{
        border-radius: 0;
    }

    .lodging{
        background-color: #fff;
    }

    .lodging_boxcard, .popular_boxcard, footer{
        flex-direction: column;
    }

    .lodging_boxcard, .popular_boxcard, .activities_boxcard{
        margin: 2.5vw; /*2.5vw */
    }
    
    .popular_card, .lodging_card, .activities_card{
        width: 89.3vw;
    }

    .popular_card{
        height: 38.7vw;
    }

    .popular_card__img{
        width: 33.9vw;
    }

    .lodging_card{
        height: 53.3vw;
    }

    .lodging_card__img{
        height: 30.4vw;
    }

    .activities_card, .activities_card--height01, .activities_card--height02, .activities_card--height03, .activities_card--height04{
        height: 50.7vw;
    }
}